In [3]:
import sys
import pandas as pd

print(sys.version)
print("")
print(f"Pandas: version {pd.__version__}")

3.8.3 (default, Jul  2 2020, 16:21:59)
[GCC 7.3.0]

Pandas: version 1.1.1

In [4]:
new_york = pd.read_csv("../data/weather/new_york_ny.csv")

print(new_york.shape)
new_york.head()

(17056, 25)

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2009-01-01 00:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,38,22,62,0.0,1017,-6,10,316,27,10007
1,2009-01-01 06:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,33,7,63,0.0,1023,-8,10,315,24,10007
2,2009-01-01 12:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,26,4,42,0.0,1025,-3,10,304,23,10007
3,2009-01-01 18:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,21,16,49,0.0,1025,-5,10,294,13,10007
4,2009-01-02 00:00:00,0,0,0.1,7.0,2,38,11:28 AM,11:54 PM,08:20 AM,...,14,46,49,0.0,1023,-6,10,260,8,10007

In [5]:
new_york.columns

Index(['date_time', 'maxtempC', 'mintempC', 'totalSnow_cm', 'sunHour',
       'uvIndex', 'moon_illumination', 'moonrise', 'moonset', 'sunrise',
       'sunset', 'DewPointC', 'FeelsLikeC', 'HeatIndexC', 'WindChillC',
       'WindGustKmph', 'cloudcover', 'humidity', 'precipMM', 'pressure',
       'tempC', 'visibility', 'winddirDegree', 'windspeedKmph', 'location'],
      dtype='object')

### Planning

#### Pre-modeling Steps

**Accounting for Seasonal Variations**


- Create dynamic datetime splits separating the four seasons and taking the year as an input,
- Use these datetime splits to subset New York City's data by year and season into smaller DataFrames,
- Identify max, min, avg, and med of the following seasonal weather metrics (both metric and imperial because **AMERICA**):
    - tempC
    - FeelsLikeC, see above
    - totalSnow_cm  **<--**  if None, final app will return a verbal message saying it does not Snow there
    - humidity
    
- Store the above data in a single DataFrame and create visualizations for the annual progression of each


**NOTE:** Data will begin on the first day of Spring 2009 and be cut off on the last day of summer 2020 so as to account for potentally eroneous data arising from partial seasons. Go back and make this adjustment to the *weather.py* file.


**Applying the above process to all of the data**


- Encapsulate the above process in a function or functions,
- Devise means of applying the above function(s) to all csv files in the root data/weather directory,
- Organize and store yearly averages in a by_year DataFrame,
- Create visualizations showing how the average seasonal weather of each compares with the average of all,
- Encapsulate the above visualization process into a function for easy use.


**Testing that this process will function in Fast API in notebook**


- Replicate Ryan Herr's example notebook material for testing Fast API locally to this notebook.
- Test that the above visualization-making functions work locally.

In [6]:
new_york.dtypes

date_time             object
maxtempC               int64
mintempC               int64
totalSnow_cm         float64
sunHour              float64
uvIndex                int64
moon_illumination      int64
moonrise              object
moonset               object
sunrise               object
sunset                object
DewPointC              int64
FeelsLikeC             int64
HeatIndexC             int64
WindChillC             int64
WindGustKmph           int64
cloudcover             int64
humidity               int64
precipMM             float64
pressure               int64
tempC                  int64
visibility             int64
winddirDegree          int64
windspeedKmph          int64
location               int64
dtype: object

In [7]:
new_york.date_time

0        2009-01-01 00:00:00
1        2009-01-01 06:00:00
2        2009-01-01 12:00:00
3        2009-01-01 18:00:00
4        2009-01-02 00:00:00
                ...
17051    2020-09-02 18:00:00
17052    2020-09-03 00:00:00
17053    2020-09-03 06:00:00
17054    2020-09-03 12:00:00
17055    2020-09-03 18:00:00
Name: date_time, Length: 17056, dtype: object

In [8]:
# Checking date_time format

date = new_york.date_time[0]
print(type(date), date)

<class 'str'> 2009-01-01 00:00:00

In [10]:
# converting datetime from string to datetime object

from datetime import datetime

date = datetime.strptime(date, '%Y-%m-%d %H:%M:%S')

print(type(date), date)

TypeError: strptime() argument 1 must be str, not datetime.datetime

In [11]:
# Applying change to all dates

new_york.date_time = new_york.date_time.apply(lambda d: datetime.strptime(d, '%Y-%m-%d %H:%M:%S'))
new_york.date_time.head()

0   2009-01-01 00:00:00
1   2009-01-01 06:00:00
2   2009-01-01 12:00:00
3   2009-01-01 18:00:00
4   2009-01-02 00:00:00
Name: date_time, dtype: datetime64[ns]

### Meterological Seasons

**Spring:** March 1 - May 31

**Summer:** June 1 - August 31

**Fall:** September 1 - November 30

**Winter:** December 1 - April 30

In [58]:
splits = []

for i in range(2009, 2021):
    splits.append(datetime(i, 3, 1))
    splits.append(datetime(i, 6, 1))
    splits.append(datetime(i, 9, 1))
    splits.append(datetime(i, 12, 1))
    
print(splits)

[datetime.datetime(2009, 3, 1, 0, 0), datetime.datetime(2009, 6, 1, 0, 0), datetime.datetime(2009, 9, 1, 0, 0), datetime.datetime(2009, 12, 1, 0, 0), datetime.datetime(2010, 3, 1, 0, 0), datetime.datetime(2010, 6, 1, 0, 0), datetime.datetime(2010, 9, 1, 0, 0), datetime.datetime(2010, 12, 1, 0, 0), datetime.datetime(2011, 3, 1, 0, 0), datetime.datetime(2011, 6, 1, 0, 0), datetime.datetime(2011, 9, 1, 0, 0), datetime.datetime(2011, 12, 1, 0, 0), datetime.datetime(2012, 3, 1, 0, 0), datetime.datetime(2012, 6, 1, 0, 0), datetime.datetime(2012, 9, 1, 0, 0), datetime.datetime(2012, 12, 1, 0, 0), datetime.datetime(2013, 3, 1, 0, 0), datetime.datetime(2013, 6, 1, 0, 0), datetime.datetime(2013, 9, 1, 0, 0), datetime.datetime(2013, 12, 1, 0, 0), datetime.datetime(2014, 3, 1, 0, 0), datetime.datetime(2014, 6, 1, 0, 0), datetime.datetime(2014, 9, 1, 0, 0), datetime.datetime(2014, 12, 1, 0, 0), datetime.datetime(2015, 3, 1, 0, 0), datetime.datetime(2015, 6, 1, 0, 0), datetime.datetime(2015, 9, 1, 0, 0), datetime.datetime(2015, 12, 1, 0, 0), datetime.datetime(2016, 3, 1, 0, 0), datetime.datetime(2016, 6, 1, 0, 0), datetime.datetime(2016, 9, 1, 0, 0), datetime.datetime(2016, 12, 1, 0, 0), datetime.datetime(2017, 3, 1, 0, 0), datetime.datetime(2017, 6, 1, 0, 0), datetime.datetime(2017, 9, 1, 0, 0), datetime.datetime(2017, 12, 1, 0, 0), datetime.datetime(2018, 3, 1, 0, 0), datetime.datetime(2018, 6, 1, 0, 0), datetime.datetime(2018, 9, 1, 0, 0), datetime.datetime(2018, 12, 1, 0, 0), datetime.datetime(2019, 3, 1, 0, 0), datetime.datetime(2019, 6, 1, 0, 0), datetime.datetime(2019, 9, 1, 0, 0), datetime.datetime(2019, 12, 1, 0, 0), datetime.datetime(2020, 3, 1, 0, 0), datetime.datetime(2020, 6, 1, 0, 0), datetime.datetime(2020, 9, 1, 0, 0), datetime.datetime(2020, 12, 1, 0, 0)]

In [13]:
splits = splits[1:]
len(splits)

47

In [14]:
# Testing split:)

spring_2009 = new_york[new_york.date_time < splits[0]]

print(spring_2009.shape)
spring_2009.head()

(604, 25)

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2009-01-01 00:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,38,22,62,0.0,1017,-6,10,316,27,10007
1,2009-01-01 06:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,33,7,63,0.0,1023,-8,10,315,24,10007
2,2009-01-01 12:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,26,4,42,0.0,1025,-3,10,304,23,10007
3,2009-01-01 18:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,21,16,49,0.0,1025,-5,10,294,13,10007
4,2009-01-02 00:00:00,0,0,0.1,7.0,2,38,11:28 AM,11:54 PM,08:20 AM,...,14,46,49,0.0,1023,-6,10,260,8,10007

In [15]:
desc = spring_2009.tempC.describe()[1:]
desc

mean     5.743377
std      7.970013
min    -14.000000
25%      0.000000
50%      6.000000
75%     11.000000
max     27.000000
Name: tempC, dtype: float64

In [16]:
# to_fahr function

def to_fahr(temp: float, system="celsius") -> float:
    """
    Converts temperature in celsius or kelvin to fahrenheit.
    """
    if type(system) != str:
        raise Exception(TypeError (f'Invalid system type {type(system)}, expected {str}'))
    elif system == "celsius":
        return ((temp * 9) / 5) + 32
    elif system == "kelvin":
        return ((temp * 9) / 5) - 459.67
    else:
        raise Exception(ValueError (f'Invalid system parameter "{system}"'))

In [17]:
# Applying to_fahr function to spring_2009 temp. stats
# in order to insure that the function works properly:)

fahr = desc.apply(lambda temp: to_fahr(temp))
fahr

mean    42.338079
std     46.346023
min      6.800000
25%     32.000000
50%     42.800000
75%     51.800000
max     80.600000
Name: tempC, dtype: float64

In [18]:
# Applying to_fahr function to the complete dataset

new_york["maxtempF"] = new_york["maxtempC"].apply(lambda temp: to_fahr(temp))
new_york["mintempF"] = new_york["mintempC"].apply(lambda temp: to_fahr(temp))
new_york["DewPointF"] = new_york["DewPointC"].apply(lambda temp: to_fahr(temp))
new_york["FeelsLikeF"] = new_york["FeelsLikeC"].apply(lambda temp: to_fahr(temp))
new_york["HeatIndexF"] = new_york["HeatIndexC"].apply(lambda temp: to_fahr(temp))
new_york["WindChillF"] = new_york["WindChillC"].apply(lambda temp: to_fahr(temp))
new_york["tempF"] = new_york["tempC"].apply(lambda temp: to_fahr(temp))

print(new_york.shape)
new_york.head()

(17056, 32)

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,winddirDegree,windspeedKmph,location,maxtempF,mintempF,DewPointF,FeelsLikeF,HeatIndexF,WindChillF,tempF
0,2009-01-01 00:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,316,27,10007,32.0,32.0,10.4,6.8,21.2,6.8,21.2
1,2009-01-01 06:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,315,24,10007,32.0,32.0,6.8,3.2,17.6,3.2,17.6
2,2009-01-01 12:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,304,23,10007,32.0,32.0,6.8,15.8,26.6,15.8,26.6
3,2009-01-01 18:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,294,13,10007,32.0,32.0,8.6,14.0,23.0,14.0,23.0
4,2009-01-02 00:00:00,0,0,0.1,7.0,2,38,11:28 AM,11:54 PM,08:20 AM,...,260,8,10007,32.0,32.0,6.8,17.6,23.0,17.6,21.2

In [19]:
new_york.columns

Index(['date_time', 'maxtempC', 'mintempC', 'totalSnow_cm', 'sunHour',
       'uvIndex', 'moon_illumination', 'moonrise', 'moonset', 'sunrise',
       'sunset', 'DewPointC', 'FeelsLikeC', 'HeatIndexC', 'WindChillC',
       'WindGustKmph', 'cloudcover', 'humidity', 'precipMM', 'pressure',
       'tempC', 'visibility', 'winddirDegree', 'windspeedKmph', 'location',
       'maxtempF', 'mintempF', 'DewPointF', 'FeelsLikeF', 'HeatIndexF',
       'WindChillF', 'tempF'],
      dtype='object')

In [20]:
# Re-subsetting Spring 2009 Data

spring_2009 = new_york[new_york.date_time < splits[0]]

print(spring_2009.shape)
spring_2009.head()

(604, 32)

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,winddirDegree,windspeedKmph,location,maxtempF,mintempF,DewPointF,FeelsLikeF,HeatIndexF,WindChillF,tempF
0,2009-01-01 00:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,316,27,10007,32.0,32.0,10.4,6.8,21.2,6.8,21.2
1,2009-01-01 06:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,315,24,10007,32.0,32.0,6.8,3.2,17.6,3.2,17.6
2,2009-01-01 12:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,304,23,10007,32.0,32.0,6.8,15.8,26.6,15.8,26.6
3,2009-01-01 18:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,294,13,10007,32.0,32.0,8.6,14.0,23.0,14.0,23.0
4,2009-01-02 00:00:00,0,0,0.1,7.0,2,38,11:28 AM,11:54 PM,08:20 AM,...,260,8,10007,32.0,32.0,6.8,17.6,23.0,17.6,21.2

In [96]:
# Subsetting remaining data

seasons = {
    3 : "Spring",
    6 : "Summer",
    9 : "Fall",
    12 : "Winter"
}

subsets = []

# Loop through splits array
for j in range(len(splits) - 1):
    subset = new_york[new_york.date_time > splits[j]]
    subset = subset[subset.date_time < splits[j + 1]]
    subset = subset.reset_index(drop=True)
    t = (seasons[splits[j].month], subset.date_time[0].year, subset)
    
    subsets.append(t)

In [97]:
print(len(subsets))
subsets[0]

47

('Spring',
 2009,
               date_time  maxtempC  mintempC  totalSnow_cm  sunHour  uvIndex  \
 0   2009-03-01 06:00:00         0         0           0.1      5.6        1
 1   2009-03-01 12:00:00         0         0           0.1      5.6        1
 2   2009-03-01 18:00:00         0         0           0.1      5.6        1
 3   2009-03-02 00:00:00         0         0           0.0      5.6        1
 4   2009-03-02 06:00:00         0         0           0.0      5.6        1
 ..                  ...       ...       ...           ...      ...      ...
 362 2009-05-30 18:00:00         0         0           0.0     14.5        4
 363 2009-05-31 00:00:00         0         0           0.0     14.5        4
 364 2009-05-31 06:00:00         0         0           0.0     14.5        4
 365 2009-05-31 12:00:00         0         0           0.0     14.5        4
 366 2009-05-31 18:00:00         0         0           0.0     14.5        4

      moon_illumination  moonrise     moonset   sunrise  ... winddirDegree  \
 0                   30  09:19 AM  No moonset  07:30 AM  ...            28
 1                   30  09:19 AM  No moonset  07:30 AM  ...            37
 2                   30  09:19 AM  No moonset  07:30 AM  ...            42
 3                   37  09:54 AM    12:11 AM  07:28 AM  ...            17
 4                   37  09:54 AM    12:11 AM  07:28 AM  ...             6
 ..                 ...       ...         ...       ...  ...           ...
 362                 40  12:14 PM    12:54 AM  05:28 AM  ...           259
 363                 44  01:24 PM    01:20 AM  05:28 AM  ...           293
 364                 44  01:24 PM    01:20 AM  05:28 AM  ...           145
 365                 44  01:24 PM    01:20 AM  05:28 AM  ...           222
 366                 44  01:24 PM    01:20 AM  05:28 AM  ...           304

      windspeedKmph  location  maxtempF  mintempF  DewPointF  FeelsLikeF  \
 0               19     10007      32.0      32.0       28.4        21.2
 1               15     10007      32.0      32.0       30.2        26.6
 2               14     10007      32.0      32.0       30.2        24.8
 3               23     10007      32.0      32.0       26.6        17.6
 4               28     10007      32.0      32.0       23.0         8.6
 ..             ...       ...       ...       ...        ...         ...
 362              9     10007      32.0      32.0       59.0        68.0
 363              4     10007      32.0      32.0       51.8        55.4
 364              3     10007      32.0      32.0       60.8        69.8
 365             12     10007      32.0      32.0       59.0        77.0
 366             15     10007      32.0      32.0       55.4        69.8

      HeatIndexF  WindChillF  tempF
 0          30.2        21.2   30.2
 1          33.8        26.6   33.8
 2          32.0        24.8   32.0
 3          28.4        17.6   28.4
 4          23.0         8.6   23.0
 ..          ...         ...    ...
 362        68.0        68.0   64.4
 363        55.4        55.4   51.8
 364        69.8        69.8   64.4
 365        77.0        75.2   73.4
 366        69.8        69.8   68.0

 [367 rows x 32 columns])

In [98]:
subsets[-1]

('Fall',
 2020,
              date_time  maxtempC  mintempC  totalSnow_cm  sunHour  uvIndex  \
 0  2020-09-01 06:00:00        24        21           0.0      7.8        5
 1  2020-09-01 12:00:00        24        21           0.0      7.8        5
 2  2020-09-01 18:00:00        24        21           0.0      7.8        5
 3  2020-09-02 00:00:00        27        23           0.0      7.8        7
 4  2020-09-02 06:00:00        27        23           0.0      7.8        7
 5  2020-09-02 12:00:00        27        23           0.0      7.8        7
 6  2020-09-02 18:00:00        27        23           0.0      7.8        7
 7  2020-09-03 00:00:00        30        25           0.0     10.3        7
 8  2020-09-03 06:00:00        30        25           0.0     10.3        7
 9  2020-09-03 12:00:00        30        25           0.0     10.3        7
 10 2020-09-03 18:00:00        30        25           0.0     10.3        7

     moon_illumination  moonrise   moonset   sunrise  ... winddirDegree  \
 0                  97  07:40 PM  05:30 AM  06:23 AM  ...           122
 1                  97  07:40 PM  05:30 AM  06:23 AM  ...           126
 2                  97  07:40 PM  05:30 AM  06:23 AM  ...           116
 3                 100  08:07 PM  06:32 AM  06:24 AM  ...           119
 4                 100  08:07 PM  06:32 AM  06:24 AM  ...           105
 5                 100  08:07 PM  06:32 AM  06:24 AM  ...           183
 6                 100  08:07 PM  06:32 AM  06:24 AM  ...           191
 7                  88  08:31 PM  07:33 AM  06:25 AM  ...           219
 8                  88  08:31 PM  07:33 AM  06:25 AM  ...           297
 9                  88  08:31 PM  07:33 AM  06:25 AM  ...           256
 10                 88  08:31 PM  07:33 AM  06:25 AM  ...           186

     windspeedKmph  location  maxtempF  mintempF  DewPointF  FeelsLikeF  \
 0              13     10007      75.2      69.8       64.4        77.0
 1              21     10007      75.2      69.8       66.2        78.8
 2              24     10007      75.2      69.8       68.0        78.8
 3              22     10007      80.6      73.4       68.0        71.6
 4              16     10007      80.6      73.4       69.8        77.0
 5              10     10007      80.6      73.4       71.6        80.6
 6              16     10007      80.6      73.4       73.4        86.0
 7              14     10007      86.0      77.0       73.4        82.4
 8              12     10007      86.0      77.0       71.6        80.6
 9               7     10007      86.0      77.0       68.0        87.8
 10             16     10007      86.0      77.0       71.6        87.8

     HeatIndexF  WindChillF  tempF
 0         77.0        71.6   71.6
 1         78.8        75.2   75.2
 2         78.8        75.2   75.2
 3         75.2        71.6   71.6
 4         77.0        73.4   73.4
 5         80.6        77.0   77.0
 6         86.0        80.6   80.6
 7         82.4        78.8   78.8
 8         80.6        77.0   77.0
 9         87.8        84.2   84.2
 10        87.8        82.4   82.4

 [11 rows x 32 columns])

In [124]:
tempC = []

for sub in subsets:
    tempC.append((sub[0], sub[1], sub[2].tempC.describe()[1:]))
    
for table in tempC:
    print(f"{table[0]} {table[1]}")
    print("------------------")
    print(table[2])
    print("")

Spring 2009
------------------
mean     9.885559
std      6.725937
min    -12.000000
25%      6.000000
50%     10.000000
75%     15.000000
max     27.000000
Name: tempC, dtype: float64

Summer 2009
------------------
mean    21.316076
std      3.672872
min     11.000000
25%     19.000000
50%     21.000000
75%     24.000000
max     32.000000
Name: tempC, dtype: float64

Fall 2009
------------------
mean    13.366391
std      5.062665
min      1.000000
25%     10.000000
50%     13.000000
75%     17.500000
max     28.000000
Name: tempC, dtype: float64

Winter 2009
------------------
mean     0.142061
std      4.576401
min    -11.000000
25%     -3.000000
50%      0.000000
75%      3.000000
max     16.000000
Name: tempC, dtype: float64

Spring 2010
------------------
mean    11.746594
std      5.923334
min     -1.000000
25%      7.500000
50%     11.000000
75%     16.000000
max     29.000000
Name: tempC, dtype: float64

Summer 2010
------------------
mean    23.520436
std      3.859414
min     10.000000
25%     21.000000
50%     24.000000
75%     26.000000
max     36.000000
Name: tempC, dtype: float64

Fall 2010
------------------
mean    14.044077
std      6.055748
min      1.000000
25%      9.000000
50%     14.000000
75%     18.000000
max     30.000000
Name: tempC, dtype: float64

Winter 2010
------------------
mean    -0.540390
std      4.180015
min    -15.000000
25%     -3.000000
50%     -1.000000
75%      2.000000
max     15.000000
Name: tempC, dtype: float64

Spring 2011
------------------
mean     9.640327
std      5.803363
min     -3.000000
25%      5.000000
50%     10.000000
75%     14.000000
max     24.000000
Name: tempC, dtype: float64

Summer 2011
------------------
mean    22.517711
std      2.964100
min     14.000000
25%     21.000000
50%     23.000000
75%     24.000000
max     31.000000
Name: tempC, dtype: float64

Fall 2011
------------------
mean    14.633609
std      5.424079
min      2.000000
25%     11.000000
50%     15.000000
75%     19.000000
max     26.000000
Name: tempC, dtype: float64

Winter 2011
------------------
mean     4.258953
std      4.341009
min     -9.000000
25%      1.500000
50%      4.000000
75%      7.000000
max     15.000000
Name: tempC, dtype: float64

Spring 2012
------------------
mean    11.948229
std      5.050027
min     -3.000000
25%      9.000000
50%     12.000000
75%     16.000000
max     26.000000
Name: tempC, dtype: float64

Summer 2012
------------------
mean    22.588556
std      3.381431
min     12.000000
25%     21.000000
50%     23.000000
75%     25.000000
max     31.000000
Name: tempC, dtype: float64

Fall 2012
------------------
mean    13.597796
std      6.547168
min      1.000000
25%      8.000000
50%     14.000000
75%     19.000000
max     29.000000
Name: tempC, dtype: float64

Winter 2012
------------------
mean     2.958217
std      4.818022
min    -11.000000
25%      0.000000
50%      3.000000
75%      6.000000
max     15.000000
Name: tempC, dtype: float64

Spring 2013
------------------
mean     9.185286
std      5.739186
min     -2.000000
25%      4.000000
50%      9.000000
75%     13.000000
max     26.000000
Name: tempC, dtype: float64

Summer 2013
------------------
mean    22.059946
std      3.316082
min     13.000000
25%     20.000000
50%     22.000000
75%     24.000000
max     31.000000
Name: tempC, dtype: float64

Fall 2013
------------------
mean    13.355372
std      6.695665
min     -5.000000
25%      9.000000
50%     14.000000
75%     18.000000
max     29.000000
Name: tempC, dtype: float64

Winter 2013
------------------
mean     0.122563
std      5.981024
min    -14.000000
25%     -4.000000
50%      0.000000
75%      4.000000
max     16.000000
Name: tempC, dtype: float64

Spring 2014
------------------
mean     8.910082
std      6.449051
min    -10.000000
25%      5.000000
50%      9.000000
75%     14.000000
max     25.000000
Name: tempC, dtype: float64

Summer 2014
------------------
mean    21.430518
std      2.763926
min     13.000000
25%     19.000000
50%     21.000000
75%     23.000000
max     29.000000
Name: tempC, dtype: float64

Fall 2014
------------------
mean    13.754821
std      6.901673
min     -5.000000
25%     10.000000
50%     15.000000
75%     19.000000
max     29.000000
Name: tempC, dtype: float64

Winter 2014
------------------
mean    -0.108635
std      5.637257
min    -16.000000
25%     -4.000000
50%      1.000000
75%      3.000000
max     16.000000
Name: tempC, dtype: float64

Spring 2015
------------------
mean     9.47139
std      6.74789
min    -10.00000
25%      4.00000
50%     10.00000
75%     14.50000
max     24.00000
Name: tempC, dtype: float64

Summer 2015
------------------
mean    22.662125
std      3.346192
min     11.000000
25%     21.000000
50%     23.000000
75%     25.000000
max     29.000000
Name: tempC, dtype: float64

Fall 2015
------------------
mean    15.606061
std      5.315116
min      2.000000
25%     12.000000
50%     16.000000
75%     19.000000
max     29.000000
Name: tempC, dtype: float64

Winter 2015
------------------
mean     4.716253
std      5.874793
min    -15.000000
25%      1.000000
50%      5.000000
75%      9.500000
max     18.000000
Name: tempC, dtype: float64

Spring 2016
------------------
mean    10.585831
std      4.974538
min     -2.000000
25%      8.000000
50%     10.000000
75%     14.000000
max     24.000000
Name: tempC, dtype: float64

Summer 2016
------------------
mean    22.858311
std      3.280441
min     12.000000
25%     21.000000
50%     23.000000
75%     25.000000
max     30.000000
Name: tempC, dtype: float64

Fall 2016
------------------
mean    15.344353
std      5.893614
min      2.000000
25%     11.000000
50%     16.000000
75%     20.000000
max     28.000000
Name: tempC, dtype: float64

Winter 2016
------------------
mean     3.754875
std      4.324294
min    -10.000000
25%      1.000000
50%      4.000000
75%      6.000000
max     15.000000
Name: tempC, dtype: float64

Spring 2017
------------------
mean     9.550409
std      6.262652
min     -8.000000
25%      6.000000
50%     10.000000
75%     14.000000
max     25.000000
Name: tempC, dtype: float64

Summer 2017
------------------
mean    22.46594
std      3.25145
min     11.00000
25%     21.00000
50%     23.00000
75%     24.00000
max     32.00000
Name: tempC, dtype: float64

Fall 2017
------------------
mean    16.085399
std      6.267154
min     -2.000000
25%     11.000000
50%     17.000000
75%     21.000000
max     28.000000
Name: tempC, dtype: float64

Winter 2017
------------------
mean     2.275766
std      5.877639
min    -14.000000
25%     -2.000000
50%      3.000000
75%      7.000000
max     17.000000
Name: tempC, dtype: float64

Spring 2018
------------------
mean     9.670300
std      6.367418
min     -1.000000
25%      4.000000
50%      9.000000
75%     15.000000
max     26.000000
Name: tempC, dtype: float64

Summer 2018
------------------
mean    23.839237
std      3.636306
min     13.000000
25%     22.000000
50%     24.000000
75%     26.000000
max     32.000000
Name: tempC, dtype: float64

Fall 2018
------------------
mean    15.011019
std      7.375852
min     -6.000000
25%      9.000000
50%     16.000000
75%     21.000000
max     31.000000
Name: tempC, dtype: float64

Winter 2018
------------------
mean     1.938719
std      5.316426
min    -16.000000
25%     -1.500000
50%      2.000000
75%      5.000000
max     15.000000
Name: tempC, dtype: float64

Spring 2019
------------------
mean    11.485014
std      6.890174
min     -6.000000
25%      7.000000
50%     12.000000
75%     16.500000
max     27.000000
Name: tempC, dtype: float64

Summer 2019
------------------
mean    24.525886
std      3.402628
min     16.000000
25%     22.000000
50%     25.000000
75%     27.000000
max     34.000000
Name: tempC, dtype: float64

Fall 2019
------------------
mean    14.873278
std      6.950132
min     -3.000000
25%     10.000000
50%     15.000000
75%     20.000000
max     29.000000
Name: tempC, dtype: float64

Winter 2019
------------------
mean     4.209366
std      3.940892
min     -7.000000
25%      2.000000
50%      4.000000
75%      7.000000
max     16.000000
Name: tempC, dtype: float64

Spring 2020
------------------
mean    10.602180
std      4.562833
min     -2.000000
25%      7.000000
50%     10.000000
75%     14.000000
max     24.000000
Name: tempC, dtype: float64

Summer 2020
------------------
mean    24.730245
std      3.579043
min     13.000000
25%     23.000000
50%     25.000000
75%     27.000000
max     32.000000
Name: tempC, dtype: float64

Fall 2020
------------------
mean    25.00000
std      2.32379
min     22.00000
25%     23.50000
50%     25.00000
75%     26.50000
max     29.00000
Name: tempC, dtype: float64