In [1]:
import pandas as pd

PATH = "/Users/ekselan/Desktop/LAMBDA/LABS/Labs26-Citrics-DS-TeamA/data/rental/apt_rental_price_clean1.csv"

df = pd.read_csv(PATH)
print(df.shape)
df.head()

(2220, 83)

,city,state,bedroom_size,price_2014_01,price_2014_02,price_2014_03,price_2014_04,price_2014_05,price_2014_06,price_2014_07,...,price_2019_11,price_2019_12,price_2020_01,price_2020_02,price_2020_03,price_2020_04,price_2020_05,price_2020_06,price_2020_07,price_2020_08
0,New York,NY,Studio,1780,1778,1781,1786,1794,1802,1817,...,1940,1943,1939,1938,1939,1934,1923,1904,1886,1864
1,New York,NY,1br,1976,1975,1978,1983,1992,2001,2018,...,2155,2158,2153,2152,2153,2148,2135,2115,2094,2070
2,New York,NY,2br,2354,2352,2356,2362,2373,2384,2404,...,2567,2570,2565,2564,2565,2559,2543,2519,2494,2466
3,New York,NY,3br,3036,3033,3038,3046,3060,3074,3099,...,3310,3314,3307,3306,3308,3300,3279,3248,3216,3180
4,New York,NY,4br,3381,3378,3383,3392,3407,3424,3452,...,3686,3691,3684,3682,3684,3675,3652,3617,3582,3541