In [2]:
import pandas as pd
import os

df = pd.read_csv(os.path.join("..", "..", "data", "census", "cleaned_census_data.csv"))

print(df.shape)
df.head()

(81434, 14)

,city,state,census2010pop,estimatesbase2010,popestimate2010,popestimate2011,popestimate2012,popestimate2013,popestimate2014,popestimate2015,popestimate2016,popestimate2017,popestimate2018,popestimate2019
0,AL,AL,4779736,4780125,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,Abbeville city,AL,2688,2705,2699,2694,2643,2628,2608,2600,2584,2575,2571,2560
2,Adamsville city,AL,4522,4506,4500,4493,4471,4449,4420,4390,4356,4327,4308,4281
3,Addison town,AL,758,754,751,750,743,742,739,734,731,726,723,718
4,Akron town,AL,356,356,355,347,347,343,338,339,333,332,331,328

In [41]:
subset = df[(df["city"] == "Abbeville city") & (df["state"] == "AL")].reset_index(drop=True).T[0]
subset.name = f"{subset.city}, {subset.state}"

preprocessed = subset.take([n for n in range(4, len(subset))])
preprocessed

popestimate2010    2699
popestimate2011    2694
popestimate2012    2643
popestimate2013    2628
popestimate2014    2608
popestimate2015    2600
popestimate2016    2584
popestimate2017    2575
popestimate2018    2571
popestimate2019    2560
Name: Abbeville city, AL, dtype: object

In [46]:
from datetime import datetime

preprocessed.rename(lambda x: datetime(int(x[-4:]), 12, 31))

2010-12-31    2699
2011-12-31    2694
2012-12-31    2643
2013-12-31    2628
2014-12-31    2608
2015-12-31    2600
2016-12-31    2584
2017-12-31    2575
2018-12-31    2571
2019-12-31    2560
Name: Abbeville city, AL, dtype: object

In [48]:
range(len(df.index))

range(0, 81434)

In [50]:
df["city"][0], df["state"][0]

('AL', 'AL')

In [52]:
subsets = []

for i in range(len(df.index) - 1):
    subset = df[(df["city"] == df["city"][i]) & (df["state"] == df["state"][i])].reset_index(drop=True).T[0]
    subset.name = f"{subset.city}, {subset.state}"
    preprocessed = subset.take([n for n in range(4, len(subset))])
    preprocessed.rename(lambda x: datetime(int(x[-4:]), 12, 31))
    subsets.append(subset)
    
subsets[0]

city                      AL
state                     AL
census2010pop        4779736
estimatesbase2010    4780125
popestimate2010      4785437
popestimate2011      4799069
popestimate2012      4815588
popestimate2013      4830081
popestimate2014      4841799
popestimate2015      4852347
popestimate2016      4863525
popestimate2017      4874486
popestimate2018      4887681
popestimate2019      4903185
Name: AL, AL, dtype: object